<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (evento(); as eventoRef) {
      <div>
        <h2 data-cy="eventoDetailsHeading"><span jhiTranslate="backendApp.evento.detail.title">Evento</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ eventoRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.evento.titulo">Titulo</span></dt>
          <dd>
            <span>{{ eventoRef.titulo }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.evento.descripcion">Descripcion</span></dt>
          <dd>
            <span>{{ eventoRef.descripcion }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.evento.fechaHora">Fecha Hora</span></dt>
          <dd>
            <span>{{ eventoRef.fechaHora | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.evento.ubicacion">Ubicacion</span></dt>
          <dd>
            <span>{{ eventoRef.ubicacion }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.evento.precio">Precio</span></dt>
          <dd>
            <span>{{ eventoRef.precio }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.evento.cantidadFilas">Cantidad Filas</span></dt>
          <dd>
            <span>{{ eventoRef.cantidadFilas }}</span>
          </dd>
          <dt><span jhiTranslate="backendApp.evento.cantidadColumnas">Cantidad Columnas</span></dt>
          <dd>
            <span>{{ eventoRef.cantidadColumnas }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/evento', eventoRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
