<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-evento-heading" data-cy="EventoCreateUpdateHeading" jhiTranslate="backendApp.evento.home.createOrEditLabel">
        Crear o editar Evento
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="backendApp.evento.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let tituloRef = editForm.get('titulo')!;
        <div class="mb-3">
          <label class="form-label" for="field_titulo" jhiTranslate="backendApp.evento.titulo">Titulo</label>
          <input type="text" class="form-control" name="titulo" id="field_titulo" data-cy="titulo" formControlName="titulo" />
          @if (tituloRef.invalid && (tituloRef.dirty || tituloRef.touched)) {
            <div>
              @if (editForm.get('titulo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descripcion" jhiTranslate="backendApp.evento.descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>

        @let fechaHoraRef = editForm.get('fechaHora')!;
        <div class="mb-3">
          <label class="form-label" for="field_fechaHora" jhiTranslate="backendApp.evento.fechaHora">Fecha Hora</label>
          <div class="d-flex">
            <input
              id="field_fechaHora"
              data-cy="fechaHora"
              type="datetime-local"
              class="form-control"
              name="fechaHora"
              formControlName="fechaHora"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (fechaHoraRef.invalid && (fechaHoraRef.dirty || fechaHoraRef.touched)) {
            <div>
              @if (editForm.get('fechaHora')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('fechaHora')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Este campo debe ser una fecha y hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ubicacion" jhiTranslate="backendApp.evento.ubicacion">Ubicacion</label>
          <input type="text" class="form-control" name="ubicacion" id="field_ubicacion" data-cy="ubicacion" formControlName="ubicacion" />
        </div>

        @let precioRef = editForm.get('precio')!;
        <div class="mb-3">
          <label class="form-label" for="field_precio" jhiTranslate="backendApp.evento.precio">Precio</label>
          <input type="number" class="form-control" name="precio" id="field_precio" data-cy="precio" formControlName="precio" />
          @if (precioRef.invalid && (precioRef.dirty || precioRef.touched)) {
            <div>
              @if (editForm.get('precio')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              @if (editForm.get('precio')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Este campo debe ser mayor que 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('precio')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let cantidadFilasRef = editForm.get('cantidadFilas')!;
        <div class="mb-3">
          <label class="form-label" for="field_cantidadFilas" jhiTranslate="backendApp.evento.cantidadFilas">Cantidad Filas</label>
          <input
            type="number"
            class="form-control"
            name="cantidadFilas"
            id="field_cantidadFilas"
            data-cy="cantidadFilas"
            formControlName="cantidadFilas"
          />
          @if (cantidadFilasRef.invalid && (cantidadFilasRef.dirty || cantidadFilasRef.touched)) {
            <div>
              @if (editForm.get('cantidadFilas')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('cantidadFilas')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        @let cantidadColumnasRef = editForm.get('cantidadColumnas')!;
        <div class="mb-3">
          <label class="form-label" for="field_cantidadColumnas" jhiTranslate="backendApp.evento.cantidadColumnas">Cantidad Columnas</label>
          <input
            type="number"
            class="form-control"
            name="cantidadColumnas"
            id="field_cantidadColumnas"
            data-cy="cantidadColumnas"
            formControlName="cantidadColumnas"
          />
          @if (cantidadColumnasRef.invalid && (cantidadColumnasRef.dirty || cantidadColumnasRef.touched)) {
            <div>
              @if (editForm.get('cantidadColumnas')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('cantidadColumnas')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
